/.gitattributes export-ignore
/.gitignore export-ignore
/.github/ export-ignore
/composer.lock export-ignore
/phpcs.xml export-ignore
/phpunit.xml.dist export-ignore
/psalm.xml.dist export-ignore
/psalm-baseline.xml export-ignore
/renovate.json export-ignore
/test/ export-ignore
